* {
  /*border: 1px green solid;*/
}

body {
}
.game-title {
  color: blue;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 1.75em;
}

.game-container {
  background-image: url(../imgs/seamless-green-felt.jpg);
}

.flashes {
  text-align: center;
  padding: 8px;
  color: #f00;
  height: 20px;
  /*border: thin solid #8b0000;*/
  /*background-color: #ffa;*/
}

.dealer-area {
  border: thin solid #f9f9f9;
  margin: 10px;
  padding: 10px;
  height: 150px;
}

.player-area {
  border: thin solid #f9f9f9;
  margin: 10px;
  padding: 10px;
  height: 150px;
}

.watermark {
  padding: 20px;
  text-align: right;
  position:absolute;
  width: 80%;
  opacity:0.2;
  font-size: 3em;
  z-index: 1000;
}

.card {
/*  -ms-transform: rotate(7deg);*/ /* IE 9 */
/*  -webkit-transform: rotate(7deg); *//* Chrome, Safari, Opera */
  margin: 5px;
  float: left;
  font-size: .8em;
  color: red;
  padding: 10px 5px 10px 5px;
  text-align: center;
  border: thin solid #FDD;
  width: 80px;
  height: 120px;
  border-radius: 4px;
  -moz-box-shadow:    inset .1em .1em #DDD;
  -webkit-box-shadow: inset .1em .1em #DDD;
  box-shadow:         inset .1em .1em #DDD;
}

footer {
  font-size: .8em;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
}