* {
  /*border: thin green solid;*/
}

body {
  color: #71A696;
  font-size: .8em;
  background-color: #326054;
}
.game-title {
  color: #D1D77A;
  font-variant: small-caps;
  letter-spacing: 1em;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 1.75em;
  border-bottom: 1px solid #71A696;
}

.game-container {
  height: 100%;
  background: radial-gradient(#3D7667, #24433B);
  border-bottom: 1px solid #71A696;
  /*background-image: url(../imgs/seamless-green-felt.jpg);*/
}

.flashes {
  text-align: center;
  padding: 8px 6px 0px 6px;
  color: #FFF;
  height: 22px;
  border-radius: 3px;
  width: 97%;
  margin: 0 auto 0 auto;
  letter-spacing: 0.1em;
  /*blue #20BFDE #009DBD*/
  /*beige #FDEFBC #EEE092*/
  /*green #00CD64 #138442*/
  /*red #FD4547 #D71F20*/
}
.flashes:first-letter {
  text-transform: capitalize;
}

.button-menu {
  margin: 10px;
  border-radius: 3px;
}
.deal-but, .hit-but, .stand-but {
  background: transparent;
  color: #D1D77A;
  letter-spacing: 0.2em;
  margin-right: 10px;
  padding: 7px;
  font-size: 1.1em;
  width: 70px;
  border: 3px solid #D1D77A;
  border-radius: 3px;
}
.grayed-out {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.dealer-area, .player-area {
  margin: 10px;
  padding: 5px;
  min-height: 155px;
  overflow: auto;
  border: 3px solid #D1D77A;
  border-radius: 3px;
}

.table-light {
  background: linear-gradient(#FFF, #111);
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.watermark, .dealer-score, .player-score {
  color: #D1D77A;
  right: 20px;
  letter-spacing: .2em;
  text-align: right;
  position: absolute;
  width: 80%;
  opacity:0.3;
  filter: alpha(opacity=30);
  font-size: 3em;
  z-index: 1;
}
.watermark {
  padding: 20px;
}
.dealer-score, .player-score {
  padding: 70px 20px 20px 20px;
}

.card, .flipped-card {
  position: relative;
  margin: 5px;
  float: left;
  width: 90px;
  height: 130px;
  border-radius: 3px;
/*  -moz-box-shadow:    inset .1em .1em #555;
  -webkit-box-shadow: inset .1em .1em #555;
  box-shadow:         inset .1em .1em #555;*/
  z-index: 2;
  border: thin solid #DDD;
  padding: 2px;
}
.card {
  font-size: 1em;
/*  -ms-transform: rotate(7deg);*/ /* IE 9 */
/*  -webkit-transform: rotate(7deg); *//* Chrome, Safari, Opera */
  /*background-size: contain;*/
  background: #E7EAF1;
  color: #000;
}
.flipped-card {
  text-align: center;
  font-size: 1.4em;
/*  background-size: cover;
  background-image: url(../imgs/back.png);*/
  background: radial-gradient(#373737, #111);
}


footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px;
  text-align: center;
}