* {
  /*border: thin green solid;*/
}

body {
  color: #71A696;
  font-size: .8em;
  background-color: #326054;
}
.game-title {
  color: #D1D77A;
  font-variant: small-caps;
  letter-spacing: 1em;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 1.75em;
  border-bottom: 1px solid #71A696;
}

.game-container {
  height: 100%;
  background: radial-gradient(#3D7667, #24433B);
  border-bottom: 1px solid #71A696;
  /*background-image: url(../imgs/seamless-green-felt.jpg);*/
}

.flashes {
  text-align: center;
  padding: 8px 6px 0px 6px;
  color: #FFF;
  height: 22px;
  border-radius: 3px;
  width: 97%;
  margin: 0 auto -10px auto;
  letter-spacing: 0.1em;
  /*blue #20BFDE #009DBD*/
  /*beige #FDEFBC #EEE092*/
  /*green #00CD64 #138442*/
  /*red #FD4547 #D71F20*/
}
.flashes:first-letter {
  text-transform: capitalize;
}

.button-menu {
  margin: 10px;
  border-radius: 3px;
}
.deal-but, .hit-but, .stand-but, .dbet-but, .ibet-but {
  margin-top: 10px;

  background: transparent;
  color: #D1D77A;
  letter-spacing: 0.2em;
  margin-right: .8em;
  padding: .4em;
  font-size: 1.1em;
  width: 5em;
  border: .22em solid #D1D77A;
  border-radius: .3em;
}
.grayed-out {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.player-bet, .dollar {
  color: #D1D77A;
  letter-spacing: 0.2em;
  font-size: 1.3em;
}

.dealer-area, .player-area {
  margin: 10px;
  padding: 5px;
  min-height: 12em;
  overflow: auto;
  border: 3px solid #D1D77A;
  border-radius: 3px;
}

.table-light {
  background: linear-gradient(#FFF, #111);
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.watermark, .dealer-score, .player-score, .player-money {
  color: #D1D77A;
  right: .5em;
  letter-spacing: .2em;
  text-align: right;
  position: absolute;
  width: 80%;
  opacity:0.3;
  filter: alpha(opacity=30);
  z-index: 1;
}
.watermark {
  font-size: 2.5em;
  padding: .7em;
}
.dealer-score, .player-score {
  font-size: 2em;
  padding: 2.5em 1em 1em 1em;
}
.player-money {
  font-size: 2em;
  padding: 3.8em 1em 1em 1em;
}

.card, .flipped-card {
  position: relative;
  margin: 5px;
  float: left;
  width: 7em;
  height: 10.5em;
  border-radius: 3px;
  z-index: 1;
  padding: 2px;
}
.card {
  border: thin solid #DDD;
  font-size: 1em;
/*  -ms-transform: rotate(7deg);*/ /* IE 9 */
/*  -webkit-transform: rotate(7deg); *//* Chrome, Safari, Opera */
  /*background-size: contain;*/
  background: #E8F4DC;
  color: #000;
}
.card-right {
  transform: scaleY(-1);
  display: inline-block;
  text-align: right;
  float: right;
  width: .8em;
  height: 9.2em;
  position: relative;
  bottom: 0;
  margin-right: .3em;
}
.flipped-card {
  border: thin solid #333;
  text-align: center;
  font-size: 1em;
  background-size: cover;
  background-image: url(../imgs/back.png);
  /*background: radial-gradient(#373737, #111);*/
}
.card-middle, .card-jack, .card-queen, .card-king {
  border-radius: 2px;
  border: thin #BBB solid;
  width: 4.9em;
  height: 7.8em;
  float: middle;
  position: absolute;
  left: 1.1em;
  top: 1.45em;
}
.card-jack {
  background-size: contain;
  background-image: url(../imgs/jack.png);
}
.card-queen {
  background-size: contain;
  background-image: url(../imgs/queen.png);
}
.card-king {
  background-size: contain;
  background-image: url(../imgs/king.png);
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
}